@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Дискография электронной культуры</h1>
    <p class="lead">База данных посвящена творчеству многих музыкантов и коллективов электронно-танцевальной музыки</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Регистрируйся и добавляй музыкантов</h2>
        <p>

        </p>
        @if (!this.User.Identity.IsAuthenticated)
        {
            <p><a class="btn btn-default" href="http://localhost:59378/Account/Register">Зарегистрироваться прямо сейчас! &raquo;</a></p>
            <p><a class="btn btn-default" href="http://localhost:59378/Account/Login">Войти &raquo;</a></p>
        }
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>

    </div>
</div>

